

Doc/~$Structure.xlsx
*.vsidx
*.db
*.json
/.vs
*.vcxproj
*.filters
*.obj
*.exe
/build
*.sln
*.i64
*.lnk
*.log
*.lastbuildstate
*.tlog
*.user
*.cmake
*.bin
/CMakeFiles
/ms
*.recipe
CMakeCache.txt
/Debug
CMakeCache.txt
