

Doc/~$Structure.xlsx
*.vsidx
*.db

*.json
/.vs
*.vcxproj
*.filters
*.obj
*.exe
/build
*.sln
*.i64
*.lnk
*.log
*.lastbuildstate
*.tlog
*.user
*.cmake
*.bin
/CMakeFiles
/ms
*.recipe
CMakeCache.txt
/Debug
CMakeCache.txt
*.vcproj
/gta2/Debug
/gta2/DEBUG_GTA2
gta2/gta2.vcproj.7.10.old
copyfile.bat
gta2.ncb
gta2.suo
UpgradeLog.htm
*.PTR
*.0
*.1
*.2
*.3
*.lock~
*.lock
re_file/IDA/ida_backups/
re_file/IDA/gta2.exe.id0
re_file/IDA/gta2.exe.id1
re_file/IDA/gta2.exe.id2
re_file/IDA/gta2.exe.nam
re_file/IDA/gta2.exe.til
/bin
/d3ddll/Release
/dmavideo/Debug
/dmavideo/Release
dllLoad/Debug/gta2-resurected.dll
dllLoad/.vs/dllLoad/v17/ipch/AutoPCH/e9e3f1f54c4f86a3/DEBUGLOGFILE.ipch
dllLoad/.vs/dllLoad/v17/ipch/AutoPCH/dc6cc9f1d09dd04a/CS19.ipch
dllLoad/.vs/dllLoad/v17/ipch/AutoPCH/dbe88705d39dcc89/DLLMAIN.ipch
dllLoad/.vs/dllLoad/v17/ipch/AutoPCH/b1aaef542df0593d/CWINDOW.ipch
dllLoad/.vs/dllLoad/v17/ipch/AutoPCH/a950a2fcfe7ddabe/CTEXT.ipch
dllLoad/.vs/dllLoad/v17/ipch/AutoPCH/a35512a3291b7996/CGANG.ipch
dllLoad/.vs/dllLoad/v17/ipch/AutoPCH/a34c6423aceb5329/INITMAPGM.ipch
dllLoad/.vs/dllLoad/v17/ipch/AutoPCH/a28d68cdf607970d/CPED.ipch
dllLoad/.vs/dllLoad/v17/ipch/AutoPCH/9050887867a6721e/CS20.ipch
dllLoad/.vs/dllLoad/v17/ipch/AutoPCH/8113b24c1fb7e0a5/REGISTRY.ipch
dllLoad/.vs/dllLoad/v17/ipch/AutoPCH/7e7b96ac9ffb5c43/CS20.ipch
dllLoad/.vs/dllLoad/v17/ipch/AutoPCH/41b04f39ec7b58d1/CWEAPON.ipch
dllLoad/.vs/dllLoad/v17/ipch/AutoPCH/39ecdd0d8c01f90e/CDIRECTX.ipch
dllLoad/.vs/dllLoad/v17/ipch/AutoPCH/17c93979099e8f94/CPED.ipch
dllLoad/.vs/dllLoad/v17/ipch/AutoPCH/110ea0aa9c28f73/CMAPGM.ipch
dllLoad/.vs/dllLoad/v17/Browse.VC.opendb
dllLoad/.vs/dllLoad/v17/Browse.VC.db-wal
dllLoad/.vs/dllLoad/v17/Browse.VC.db-shm
dllLoad/.vs/dllLoad/v17/.suo
/dllLoad/debug
/dllLoad/X64
/dllLoad/dllLoad/Debug
/dllLoad/dllLoad/x64
*.ipch
/dllLoad/dllLoad/Release
/re_file/IDA/data
/re_file/IDA/player
/re_file/IDA/test
*.dll
re_file/IDA/mssds3dh.m3d
re_file/IDA/Param.txt
re_file/IDA/ida-interr-20251213-174244-17960.dmp
