

Doc/~$Structure.xlsx
*.vsidx
*.db
*.json
/.vs
*.vcxproj
*.filters
*.obj
*.exe
/build
*.sln
*.i64
*.lnk
*.log
*.lastbuildstate
*.tlog
*.user
*.cmake
*.bin
/CMakeFiles
/ms
*.recipe
CMakeCache.txt
/Debug
CMakeCache.txt
*.vcproj
/gta2/Debug
/gta2/DEBUG_GTA2
gta2/gta2.vcproj.7.10.old
copyfile.bat
gta2.ncb
gta2.suo
UpgradeLog.htm
